[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
pylint = "*"
rope = "*"

[packages]
numpy = "*"
skimage = "*"
opencv-python = "*"
scipy = "*"

[requires]
python_version = "3.7"
